@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('fonts/Vollkorn-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: normal;
  src: local('Vollkorn Italic'), local('Vollkorn-Italic'), url('fonts/Vollkorn-Italic.ttf') format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: bold;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url('fonts/Vollkorn-Bold.ttf') format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: bold;
  src: local('Vollkorn Bold Italic'), local('Vollkorn-BoldItalic'), url('fonts/Vollkorn-BoldItalic.ttf') format('woff');
}
/* Fix for Bootstrap as labels end up quite spaced out using Vollkorn Bold */
.label {
  font-family: sans-serif;
}

/*
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  src: local('Crimson Text Italic'), local('CrimsonText-Italic'), url('fonts/CrimsonText-Italic.ttf') format('woff');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 600;
  src: local('Crimson Text Semibold Italic'), local('CrimsonText-SemiboldItalic'), url('fonts/CrimsonText-SemiboldItalic.ttf') format('woff');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: normal;
  src: local('Crimson Text'), local('CrimsonText-Roman'), url('fonts/CrimsonText-Roman.ttf') format('woff');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 600;
  src: local('Crimson Text Semibold'), local('CrimsonText-Semibold'), url('fonts/CrimsonText-Semibold.ttf') format('woff');
}
*/

/*
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: normal;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url('/media/css/ShadowsIntoLight.ttf') format('woff');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: normal;
  src: local('Dancing Script'), local('DancingScript'), url('/media/css/DancingScript-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: normal;
  src: local('Quattrocento'), local('Quattrocento-Regular'), url('/media/css/Quattrocento-Regular.ttf') format('woff');
}
*/

h1, h2, h3, h4, h5, h6, .funky_font, header.navbar {
  font-family: "Vollkorn", sans-serif;
  font-weight: normal;
  color: #443;
  color: #358;
}

p {
  font-family: "Vollkorn", "Helvetica Neue", Helvetica, Arial, serif;
}

body {
  font-family: "Vollkorn", "Helvetica Neue", Helvetica, Arial, serif;
  background: #eee url(bg.png) repeat;
}

/*
blockquote {
  margin: 15px 32px;

  background-color: #fcfcfc;

  border: 1px #ccc solid;
  -moz-box-shadow:inset 2px 2px 3px #cca;
  -webkit-box-shadow:inset 2px 2px 3px #cca;
  box-shadow:inset 2px 2px 3px #cca;
}
*/

blockquote p {
  font-style: italic;
}

footer {
  margin-top: 17px;
  padding-top: 17px;
  border-top: 1px solid #EEE;
}

pre {
  background: #fbfbfb;

  margin: 15px auto;
  padding: 8px;
  line-height: 1.3em;
  width: 85%;

  -moz-box-shadow:inset 3px 3px 3px #aa9;
  -webkit-box-shadow:inset 3px 3px 3px #aa9;
  box-shadow:inset 3px 3px 3px #aa9;
}

img {
  margin-top: 1em;
  margin-bottom: 1em;
}

img.smooth {
  border: 1px solid #ccc;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.15);
}

.navbar-inner {
  background: black url(top.png) repeat;

  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Remove white alpha hover */
.navbar .brand:hover {
  background-color: rgba(255, 255, 255, 0.00);
  text-decoration: underline;
}

.white-well {
  padding: 2em;
  margin-bottom: 1em;

  background: white;
  border: 1px solid #ccc;

  /*
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.stretch-well {
  max-width: 940px;
  margin: 0 auto;
}

ul.no_disc {
  list-style: none;
}

/* http://stackoverflow.com/questions/5734199/margin0-auto-not-working */
.center {
  display: block;
  margin: 1em auto;
}

body {
  font-size: 15px
}

p {
  font-size: 15px;
}

.metadata {
  border-bottom: 2px #999 dashed;
  margin-bottom: 12px;
}

.metadata h1 {
  margin-bottom: 4px;
}

.metadata .post-date {
  font-size: 19px;
  font-weight: 300;
  margin: 4px 10px;
  color: #999;
}
