@import url(reset.css);
@import url(typography.css);

/*
 * Base Colours from #ABD
 * #443
 * #26A
 * #69B
 * #ABD
 * #875
 *
 * 2f2f2f has worked well
 */

/*
@import url(http://fonts.googleapis.com/css?family=Vollkorn&v2);
@import url('http://fonts.googleapis.com/css?family=Shadows+Into+Light&v2');
*/

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('/media/css/Vollkorn-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: normal;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url('/media/css/ShadowsIntoLight.ttf') format('woff');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Shadows into Light', serif;
  font-weight: normal;
  color: #443;
  padding-left: 20px;
  margin-bottom: 5px;
  padding-bottom: 3px;
}

h2 {
  color: #ABD;
}

div.toc ul {
  margin: 0 0.5em 0.5em 0;
}

h1, h3, h4, h5, h6 {
  color: #443;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: #ABD;
}

div.codehilite {
  background: #fff;
}

div#content a {
  color: #26A;
}

div#content a:hover {
  color: #443;
  background: #f9f8fa;
}

div.topfloat {
  position: fixed;
  z-index: 100;
  min-width: 495px;
  left: 40px;
  right: 40px;
  top: 0px;

  background: #eed;
  border: 1px solid #AA9;
  border-left: 1px solid #BBA;
  border-top: 1px solid #CCB;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#dadada));
  background: -moz-linear-gradient(top, #f8f8f8, #dadada);

  -webkit-border-radius: 5px 40px 5px 40px;
  -moz-border-radius: 5px 40px 5px 40px;
  border-radius: 5px 32px 5px 32px;

  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);

  height: 38px;
  line-height: 38px;

 filter:alpha(opacity=95);
 -moz-opacity:0.95;
 -khtml-opacity: 0.95;
 opacity: 0.95;

}

li.article_heading {
 list-style-type: none;
}

span.post-date {
 line-height: 2;
}

span.date {
 float: left;
 padding-right: 20px;
}

div.topfloat a {
  color: #999;
}

div.topfloat h1 a {
  padding-left: 10px;
}

header h1 {
  float: left;
  font-size: 1.8em;
  height: 38px;
  line-height: 38px;
  padding-left: 25px;
  padding-right: 10px;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.6), -0px -1px 0 rgba(0,0,0,0.6);
  border-right: 1px solid #CCB;
}

nav ul {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
  margin: 0;
}

nav ul li:hover {
  background-color: #dadada;
  background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#e9e9e9));
  background: -moz-linear-gradient(top, #dedede, #e9e9e9);
}

nav ul li {
  float: left;
  padding: 0 10px 0 10px;
  margin: 0;
  border-right: 1px solid #CCB;
  height: 38px;
  line-height: 38px;

  border-top: 0;
  border-bottom: 0;
}

nav ul a {
  line-height: 38px;
}

nav a{
  text-decoration: none;
}

div#creative_commons {
  display: block;
  float: right;
  padding-right: 28px;
  padding-top: 4px;
  height: 38px;
}

p {
  text-indent: 2em;
  padding: 0 0.5em;
  text-align: justify;
}

div.messages {
  padding-bottom: 1em;
}

p.base_flash {
  text-indent: 0;
  min-width: 200px;
  max-width: 600px;
  margin: 0 auto 0.4em auto;
  text-align: center;

  /*-webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 5px 9px 5px 9px;
  border-radius: 5px 9px 5px 9px;*/

  -webkit-box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.25);

  border: 1px solid #443;
}

p.flash_message {
  background: #f7faff;
  border: 1px solid #55a;
  border-left: 5px solid #77a;

  background: -webkit-gradient(linear, left top, left bottom, from(#f4f8ff), to(#bdc4cd));
  background: -moz-linear-gradient(top, #f7faff, #c0c6ca);
}

p.flash_error {
  background: #ffe9e9;
  border: 1px solid #c55;
  border-left: 5px solid #c55;

  background: -webkit-gradient(linear, left top, left bottom, from(#ffe9e9), to(#ec9898));
  background: -moz-linear-gradient(top, #ffe9e9, #ec9898);
}

body {
  font-size: 100%;
  font-family: 'Vollkorn', 'Georgia', serif;
}

div#content {
  margin: 60px auto 0 auto;
  width: 70%;
}

tt {
  background: #fdfdfd;

  -moz-box-shadow:inset 3px 3px 3px #bba;
  -webkit-box-shadow:inset 2px 2px 2px #bba;
  box-shadow:inset 2px 2px 2px #bba;
}

pre, tt {
  font-family: 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 0.85em;
  padding: 0.2em;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #e4e4d4;

  white-space: pre-wrap;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

pre {
  background: #fbfbfb;

  padding: 0;
  margin: 15px auto;
  padding: 8px;
  line-height: 1.3em;
  padding: 7px 30px;
  width: 85%;

  -moz-box-shadow:inset 3px 3px 3px #aa9;
  -webkit-box-shadow:inset 3px 3px 3px #aa9;
  box-shadow:inset 3px 3px 3px #aa9;
}

footer {
  padding-top: 1.5em;
  font-size: 0.8em;
}

footer p {
  text-align: center;
}

img.smooth {
  margin: 1em;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.1);
}
