{% extends "_skeleton.html" %}

{% block title %}Smerity.com{% if page.title %}: {{page.title}}{% endif %}{% endblock %}

{% block head %}
<link rel="shortcut icon" href="/media/images/favicon.ico">
{% endblock %}

{% block css %}
<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <script src="/media/js/html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/media/css/pygments.css">
<link rel="stylesheet" type="text/css" href="/media/css/addons.css">
<style type="text/css">
  body {
    padding-top: 60px;
  }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/media/js/jquery.min.js"></script>
<script type="text/javascript">
  // TODO: Work out why "_trackr || ..." raises a Reference Error...
  (function() {
    var cookieName = "__tk_tkn";

    // http://www.kaushik.net/avinash/standard-metrics-revisited-time-on-page-and-time-on-site/
    // http://stackoverflow.com/questions/3534524/how-does-the-embedded-google-analytics-javascript-works

    // Return back random number of length 16
    var rnd = function() {return String(Math.random()).slice(2,18);};

    // Get the cookie if it exists
    var cookiePattern = new RegExp('(^|;)[ ]*' + cookieName + '=([^;]*)'),
    cookieMatch = cookiePattern.exec(document.cookie);
    var token;
    if (cookieMatch) {
      token = cookieMatch[2];
    } else {
      // If the cookie doesn't exist, generate a token and store it
      token = rnd();
      document.cookie = cookieName + "=" + token + ";path=/";
    }

    var ref = document.referrer;

    var tk = document.createElement('script'); tk.type = 'text/javascript'; tk.async = true;
    tk.src = "http://127.0.0.1:1337/trackr/" + token;
    tk.src += "?rnd=" + rnd();
    if (ref) {
      tk.src += "&ref=" + ref;
    }
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(tk, s);
  })();
</script>
{% endblock %}

{% block header %}
<header class="topbar">
  <nav class="topbar topbar-inner container-fluid">
    <a class="brand funky_font" href="/">Smerity</a>
    <ul class="nav">
      <li><a href="/articles/articles.html">Articles</a></li>
      <li><a href="/abme.html">About Me</a></li>
      <li><a href="/define.html">Define Me</a></li>
    </ul>
  </nav>
</header>
{% endblock %}

{% block footer %}
<footer>
  &copy; Stephen Merity
</footer>
{% endblock %}

{% block tracking_js %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-470775-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock %}
