<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="always">
    <title>{% block title %}{{ site.name }}{% if page.title %}: {{page.title}}{% endif %}{% endblock %}</title>
    {% block head %}{% endblock %}
    {% block meta %}{% endblock %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    {% block extra_js %}{% endblock %}
    {% block tracking_js %}{% endblock %}
  </head>
  <body>
  {% block header %}
  {% endblock %}
  {% block body %}
  {% block body_top %}
  {% endblock %}
  <div class="container">
    {% block container %}
      <div class="row">
      <div class="span8 content-wrapper">
        {% block content_header %}
        {% endblock %}
        <div class="content-box">
        {% block content %}{% endblock %}
        </div>
      </div>
      {% block sidebar %}
        <div class="span3 side-box">
          <div style="padding: 8px;">
            <h1 style="margin-bottom: 0; text-align: center;">Popular Articles</h1>
            <style>
            ul.unstyled li { padding-bottom: 6px; }
            </style>
            <ul class="crossed">
              <li><a href="/articles/2013/google_analytics_and_nsa.html">Google, make Google Analytics HTTPS by default (2013)</a></li>
              <li><a href="/articles/2013/where_did_all_the_http_referrers_go.html">Where did all the HTTP referrers go? (2013)</a></li>
              <li><a href="/articles/2013/animated_gif.html">The Mystery of the Spotty Animated GIF (2013)</a></li>
            </ul>
            <div class="well well-small">
              <!--<h1 style="margin-bottom: 0; margin-top: 0; text-align: center;">Hi, I'm Smerity</h1>-->
              <div align="center">
                <!--img class="shadowed pronounced" src="/media/images/smerity_bw.jpg" />-->
              </div>
              <!-- TODO: Place Twitter here -->
              <p>
                I'm <b>Stephen Merity</b>, better known in most places as <b>Smerity</b>.
              </p>
              <p>
                <b>Sydney University:</b><br />
                <a href="http://sydney.edu.au/engineering/it/current_students/undergrad/bit.shtml">BIT</a> (University Medal + First Class Honours)
              </p>
              <p>
                <b>Harvard University:</b><br />
                <a href="http://www.seas.harvard.edu/programs/graduate/computational-science-and-engineering/master-of-science-in-cse">MS in CSE</a>
              </p>
              <p>
                <b><a href="/abme.html">Read more about me</a></b>
              </p>
            </div>
            <p class="center-text">
              <b>Interested in saying hi?</b><br />
              <div class="contact-me">
              <a href="https://www.twitter.com/Smerity/" alt="Twitter"><i class="icon-twitter"></i></a><a href="https://facebook.com/smerity" alt="Facebook"><i class="icon-facebook-sign"></i></a><a href="https://github.com/Smerity/" alt="GitHub"><i class="icon-github"></i></a><a href="http://au.linkedin.com/in/smerity" alt="LinkedIn"><i class="icon-linkedin"></i></a><a href="mailto:smerity@smerity.com" alt="Email"><i class="icon-envelope-alt"></i></a>
              </div>
            </p>

            {#
            <h4>Want to hear more?</h4>
            <form class="form-search">
              <input type="text" class="input-medium search-query">
              <button type="submit" class="btn">Subscribe</button>
            </form>
            #}
          </div>
        </div>
      {% endblock %}
      </div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
  </div>
  {% endblock %}
  {% block bottom_css %}{% endblock %}
  {% block bottom_js %}{% endblock %}
  </body>
</html>
