<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ site.name }}{% if page.title %}: {{page.title}}{% endif %}{% endblock %}</title>
    {% block head %}{% endblock %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    {% block extra_js %}{% endblock %}
    {% block tracking_js %}{% endblock %}
  </head>
  <body>
  {% block header %}
  {% endblock %}
  {% block body %}
  <div class="white-well stretch-well container-fluid">
    {% block content %}{% endblock %}
    {% block footer %}
    {% endblock %}
  </div>
  {% endblock %}
  </body>
</html>
