{% extends "_base.html" %}

{% block body %}

<div class="hero-box">
  <div class="hero-inner">
    <h1 class="highlight slogan">Smerity (n):</h1>
    <h2>
    Saving the world one byte at a time.
    </h2>
    <h3 class="white contact-me">
      <a href="https://www.twitter.com/Smerity/" alt="Twitter"><i class="icon-twitter"></i></a>
      <a href="https://facebook.com/smerity" alt="Facebook"><i class="icon-facebook-sign"></i></a>
      <a href="https://github.com/Smerity/" alt="GitHub"><i class="icon-github"></i></a>
      <a href="http://au.linkedin.com/in/smerity" alt="LinkedIn"><i class="icon-linkedin"></i></a>
      <a href="mailto:smerity@smerity.com" alt="Email"><i class="icon-envelope-alt"></i></a>
    </h3>
  </div>
</div>

<div class="center-box">
  <div class="container">

<header class="navbar">
  <nav class="navbar-inner-clean">
    <div class="container-fluid">
      <ul class="nav">
        <li><a href="/articles/articles.html">Articles</a></li>
        {#<li><a href="/consulting.html">Consulting</a></li>#}
        <li><a href="/abme.html">About Me</a></li>
        {#<li><a href="/define.html">Define Me</a></li>#}
      </ul>
    </div>
  </nav>
</header>

    <div class="row">
      <h1>More specifically...</h1>
    </div>

    <div class="row">

      <div class="offset2 span8">
        <p>
        I'm a graduate from Sydney University (BIT with First Class Honours &amp; the University Medal).
        Since August 2013 I've been at Harvard University completing a Master of Science in Computational Science and Engineering.
        I'm passionate about teaching students programming and computer science and was first employee at <a href="https://groklearning.com/">Grok Learning</a> and have been a tutor at the <a href="http://ncss.edu.au/">National Computer Science School</a> for the last five years.
        </p>
      </div>

      {#
        <p style="border: 1px solid #DDD; border-bottom: 2px solid #DDD; border-right: 2px solid #DDD; padding: 4px 16px;">
          <b>Note:</b> Processor unit may be missing or damaged. Do not shake.
        </p>

        <p style="border: 1px solid #DDD; border-bottom: 2px solid #DDD; border-right: 2px solid #DDD; padding: 4px 16px;">
          Limit of one Smerity per person.
        </p>

        <p style="border: 1px solid #DDD; border-bottom: 2px solid #DDD; border-right: 2px solid #DDD; padding: 4px 16px;">
          Before importing a Smerity, ensure you have acquired a Class D license for Wild Coder Transport for your destination.
        </p>

        <p style="border: 1px solid #DDD; border-bottom: 2px solid #DDD; border-right: 2px solid #DDD; padding: 4px 16px;">
          Do not operate production hardware whilst under the influence of Smerity
        </p>
      #}
    </div>

  </div>
</div>

{% endblock %}
