{% extends "skeleton/_root.html" %}

{% block all %}
<!DOCTYPE html>
  <head>
    <title>
      {% block title %}
      {{site.name}} {% if page.title %}: {{page.title}}{% endif %}
      {% endblock %}
    </title>
    <link rel="SHORTCUT ICON" href="{{ url_for('static', filename='images/favicon.ico') }}">

    {% block feeds %}
    {#<link href="{{site.url}}/blog/atom.xml" rel="alternate" title="{{site.name}}" type="application/atom+xml"/>#}
    {% endblock %}

    {% block font %}
    {#<link href='http://fonts.googleapis.com/css?family=Vollkorn&v2' rel='stylesheet' type='text/css'>#}
    {#<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light&v2' rel='stylesheet' type='text/css'>#}
    {% endblock %}

    {% block css %}
    <link href="{{ url_for('static', filename='css/reset.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/typography.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/base.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/pygments.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block js %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block google_analytics %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-470775-5']);
      _gaq.push(['_setDomainName', 'smerity.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endblock %}
  </head>

  <body>
    <div class="topfloat">
      <header id="masthead">
        <h1>
          <a href="/">Smerity</a>
        </h1>
      </header>

      <nav>
        <ul>
          <a href="/articles/articles.html"><li>Articles</li></a>
          <a href="/abme.html"><li>About Me</li></a>
          <a href="/define.html"><li>Define Me</li></a>
        </ul>
      </nav>
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <p><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Under the Creative Commons License</a></p>
    </footer>
</body>
</html>
{% endblock %}
