{% extends "skeleton/_root.html" %}

{% block all %}

{%spaceless%}

{%ifnotequal node page.node %}
        <h2>
        {% if node.has_listing %}<a href="{{node.listing_url}}">{% endif %}
	{{node.name|unslugify}}
	{% if node.has_listing %}</a>{% endif %}
        </h2>
{%endifnotequal%}

<ul>
    {% for list_page in node.pages %}
		{% ifnotequal list_page node.listing_page %}
    {% include "skeleton/_list_page.html" %}
		{% endifnotequal %}
	{% endfor %}
</ul>

{%endspaceless%}

{% endblock %}
